@import './variables.scss';

$borderColor: $smoke;

.grid {
    @include grid();
}

.flex {
    display: flex;
}

.row {
    @include row();
}

.col {
    @include col();
}

.order {
    @include order();
}

.container {
    margin: 0 1rem;
}

.circle {
    border-radius: $circle;
}

.rounded {
    border-radius: $rounded;
}

.border {
    border: 1px solid $smoke;

    @include border(
        $color: $borderColor
    );

    &-color {
        border-color: $borderColor;
    }
}

.p {
    @include spacing(
        $style: 'padding'
    );
}

.m {
    @include spacing(
        $style: 'margin'
    );
}

.hide {
    display:none;
}