@use 'sass:math';

// blocks
$circle: 25%;
$rounded: 0.125rem;

// Margins and Paddings spacing classes
$list: 0, 0.25rem, 0.5rem, 1rem, 2rem, 3rem;

$breakpoints: xs, sm, md, lg, xl;
$dir: ('top': t, 'right': r, 'bottom': b, 'left': l);
$dirAll: ('all': 'all', 'top': t, 'right': r, 'bottom': b, 'left': l);

// media queries break points
@mixin breakPoint($size) {
    @if $size == xs {
        @media (max-width: 599px) {
            @content;
        }
    } @else if $size == sm {
        @media (min-width: 600px) {
            @content;
        }
    } @else if $size == md {
        @media (min-width: 900px) {
            @content;
        }
    } @else if $size == lg {
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $size == xl {
        @media (min-width: 1800px) {
            @content;
        }
    }
}

/* **** ****
Grid
A multi column grid designed to fit to content with and max width being equal to the parent width.
Column and Row gaps can be adjusted using $column and $row

e.g.
.grid {
    @include grid();
}
<div class="grid-4 grid-4-end-right">
**** **** */
@mixin grid($column: 0.5rem, $row: 0.75rem) {
    display: grid;
    @for $i from 2 to 5 {
        &-#{$i} {
            display: inline-grid;
            grid-template-columns: repeat($i, minmax(min-content, max-content));
            grid-template-rows: auto;
            column-gap: $column;
            row-gap: $row;

            &-end-right > div:nth-child(#{$i}n) {
                justify-self: end;
            }
        }
    }
}

/* **** ****
Margins and Padding
Spacing that goes from default then smallest to largest overrides

e.g.
.m {
    @include($style: 'margin')
}
.p {
    @include($style: 'padding')
}
<div class="m-1 m-md-2 mb-0 pb-2 pt-lg-4">
**** **** */
@mixin spacing($style: 'padding', $spacings: $list, $breakpoints: $breakpoints, $directions: $dirAll) {
    @each $key, $value in $directions {
        @for $i from 1 to length($spacings)+1 {
            @if $value == 'all' {
                &-#{$i - 1} {
                    #{$style}: #{nth($spacings, $i)};
                }
                @each $breakpoint in $breakpoints {
                    @include breakPoint($breakpoint) {
                        &-#{$breakpoint}-#{$i - 1} {
                            #{$style}: #{nth($spacings, $i)};
                        }
                    }
                }
            } @else {
                &#{$value}-#{$i - 1} {
                    #{$style}-#{$key}: #{nth($spacings, $i)};
                }
                @each $breakpoint in $breakpoints {
                    @include breakPoint($breakpoint) {
                        &#{$value}-#{$breakpoint}-#{$i - 1} {
                            #{$style}-#{$key}: #{nth($spacings, $i)};
                        }
                    }
                }
            }
        }
    }
}

/* **** ****
Borders
Sets up borders which can be overwritten 

e.g.
.border {
    @include border(
        $color: $borderColor
    );
}
<div class="border border-t-0 border-t-md border-t-lg-0">
**** **** */

@mixin border($color: #000, $breakpoints: $breakpoints, $directions: $dir) {
    @each $key, $d in $directions {
        &-#{$d} {
            @include borderSingles($key, $color);
            &-0 {
                border-#{$key}: 0;
            }
            @each $breakpoint in $breakpoints {
                &-#{$breakpoint} {
                    @include breakPoint($breakpoint) {
                        @include borderSingles($key, $color);
                        &-0 {
                            border-#{$key}: 0;
                        }
                    }
                }
            }
        }
    }
}

@mixin borderSingles($key, $color) {
    border-#{$key}-width: 1px;
    border-#{$key}-style: solid;
    border-#{$key}-color: $color;
}

/* **** ****
Flex Grid rows and columns
Sets up a 12 grid system which includes an order element to reorder the column blocks.

e.g.
.row {
    @include row();
}
.col {
    @include col();
}
.order {
    @include order();
}
<div class="row">
    <div class="col col-md-3 col-lg-12 order-1  order-md-0" />
</div>
**** **** */

@mixin row() {
    display: flex;
    flex-wrap: wrap;
}

@mixin col($breakpoints: $breakpoints) {
    box-sizing: border-box;

    @for $i from 1 to 13 {
        $width: math.div(100% * $i, 12);
        &-#{$i} {
            width: $width;
            box-sizing: border-box;
        }
    }
    @each $breakpoint in $breakpoints {
        @for $i from 1 to 13 {
            @include breakPoint($breakpoint) {
                $width: math.div(100% * $i, 12);
                &-#{$breakpoint}-#{$i} {
                    width: $width;
                    box-sizing: border-box;
                }
            }
        }
    }
}

@mixin order($breakpoints: $breakpoints) {
    @for $i from 1 to 12 {
        $i: $i - 1;
        &-#{$i} {
            order: $i;
        }
    }
    @each $breakpoint in $breakpoints {
        @for $i from 1 to 12 {
            $i: $i - 1;
            @include breakPoint($breakpoint) {
                &-#{$breakpoint}-#{$i} {
                    order: $i;
                }
            }
        }
    }
}