.btn {
    display: block;
    width: 100%;
    padding: .50rem .25rem;
    border: 0;
    background-color: $blue;
    color: $smoke;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background: $black;
        color: $smoke;
    }

    &:disabled {
        cursor: default;
        background: rgba($blue, 0.3);
    }

    &-small {
        max-width: 5rem;
    }
    &-medium {
        max-width: 7.5rem;
    }
    &-large {
        max-width: 12rem;
    }
}