// Shapes

.circle {
    position: relative;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: $orange;

    &::before {}
}

.square {
    position: relative;
    height: 2rem;
    width: 2rem;
    border-radius: 10%;
    background: $red;
}

.triangle {
    position: relative;
    height: 2rem;
    width: 2rem;

    &::before {
        content: '';
        display: block;
        height: 0;
        width: 0;
        border-style: solid;
        border-width: 0 1rem 2rem 1rem;
        border-color: transparent transparent $green transparent;
    }
}

.diamond {
    position: relative;
    height: 2rem;
    width: 2rem;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0;
        width: 0;
        border-style: solid;
        border-width: 0 1rem 1rem 1rem;
        border-color: transparent transparent $purple transparent;
    }
    &::after {
        border-width: 1rem 1rem 0 1rem;
        border-color: $purple transparent transparent transparent;
    }
}

.moon {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    box-shadow: 0.2rem 0.2rem 0 0 $moon;
}