body, html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
body, html, div, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
p, li, h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1.25rem;
}