html, body {
    color: $smoke;
    background: $dark;
}

.visually-hidden {
    height: 1px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}